# join sets

In [1]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
set_3 = set_1.union(set_2)          #union method on two sets
print(set_3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
print(set_1.update(set_2))   # update method
print(set_1)

None
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
set_3 = set_1 | set_2   # pipe operator 
print(set_3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
stringset = {"A", "B", "C"}
nam_set = {"sanaya", "riya", "priya"}
new_set = set_1 | set_2 | stringset | nam_set
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'priya', 'C', 'riya', 'sanaya'}

In [4]:
set_1 = {2,3,4,5,8,9}
stringlist = ["S", "D", "C"]   #datatype - List
new_set = set_1.union(stringlist)
print(new_set)

{2, 3, 4, 5, 8, 9, 'C', 'S', 'D'}

In [5]:
set_1 = {2,3,4,5,8,9}
num_tuple = (2,4,5,1,6,7)   #datatype - tuple
stringlist = ["S", "D", "C"]   #datatype - list
name_tuple = ("sanaya", "riya", "priya")  #datatype -tuple
new_set = set_1.union(num_tuple, stringlist, name_tuple)
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'priya', 'C', 'sanaya', 'S', 'D', 'riya'}

# TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [6]:
set_1 = {2,3,4,5,8,9}
stringlist = ["S", "D", "C"]   #datatype - List
new_set = set_1 | stringlist
print(new_set)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

# TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [7]:
list1 = [2,3,4,5,8,9]
stringlist = ["S", "D", "C"]   #datatype - List
new_list = list1 | stringlist
print(new_list)

TypeError: unsupported operand type(s) for |: 'list' and 'list'

# TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

In [8]:
tuple1 = (2,3,4,5,8,9)
stringtuple = ("S", "D", "C")   #datatype - List
new_tuple = tuple1 | stringtuple
print(new_tuple)

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

# TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [9]:
set_1 = {2,3,4,5,8,9}
num_tuple = (2,4,5,1,6,7)   #datatype - tuple
stringlist = ["S", "D", "C"]   #datatype - list
name_tuple = ("sanaya", "riya", "priya")  #datatype -tuple
new_set = set_1 | num_tuple | stringlist | name_tuple
print(new_set)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [10]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
set_1 |= set_2  # |= Pipe equal to : Shortcut for Update method
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# TypeError: unsupported operand type(s) for |: 'tuple' and 'list'

In [11]:
set_1 = {2,3,4,5,8,9}
num_tuple = (2,4,5,1,6,7)   #datatype - tuple
stringlist = ["S", "D", "C"]   #datatype - list
name_tuple = ("sanaya", "riya", "priya")  #datatype -tuple
set_1 |= num_tuple | stringlist | name_tuple
print(set_1)

TypeError: unsupported operand type(s) for |: 'tuple' and 'list'

In [12]:
set_1 = {2,3,4,5,8,9}
num_tuple = (2,4,5,1,6,7)   #datatype - tuple
stringlist = ["S", "D", "C"]   #datatype - list
name_tuple = ("sanaya", "riya", "priya")  #datatype -tuple
set_1.update(num_tuple, stringlist, name_tuple)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'priya', 'C', 'sanaya', 'S', 'D', 'riya'}

In [13]:
set_1 = {2,3,4,5,8,9}
set_2 = {2,4,5,1,6,7}
inter_set = set_1.intersection(set_2)
print(inter_set)

{2, 4, 5}