# Tuple Unpacking

In [1]:
tuple_books = ("java", "c++")   # tuple unpacking
tuple_books

('java', 'c++')

In [2]:
variable_1 = tuple_books   #Extract assingment
variable_1

('java', 'c++')

In [3]:
var_1, var_2 = tuple_books
print(var_1)
print(var_2)

java
c++

In [4]:
num_sys = (1,2,3,4,5)
a,b,c,d,e = num_sys
print(a,b,c,d,e)

1 2 3 4 5

In [5]:
num_sys = (1,2,3,4,5)
(a,b,c,d,e) = num_sys
print(a,b,c,d,e)

1 2 3 4 5

In [7]:
num_sys = (1,2,3,4,5)
a,b = num_sys
print(a,b)

ValueError: too many values to unpack (expected 2)

In [8]:
num_sys = (1,2,3,4,5)
a, *b = num_sys
print(a,b)

1 [2, 3, 4, 5]

In [9]:
type(b)

list

In [10]:
type(a)

int

In [12]:
num_sys = (1,2,3,4,5)
a,b,*c = num_sys
print(a,b,c,)

1 2 [3, 4, 5]

In [13]:
num_sys = (1,2,3,4,5)
*a,b,c = num_sys
print(a,b,c,)

[1, 2, 3] 4 5

In [14]:
num_sys = (1,2,3,4,5)
*c = num_sys
print(c)

SyntaxError: starred assignment target must be in a list or tuple (1384597675.py, line 2)

In [15]:
num_sys = (1,2,3,4,5)
*c, = num_sys
print(c)

[1, 2, 3, 4, 5]

In [16]:
one_tuple = (1)
print(type(one_tuple))
one_tuple = (1,)
print(type(one_tuple))

<class 'int'>
<class 'tuple'>

In [17]:
names = ("rohan", "priya", "sapna")
sir_names = ("sharma", "thakur", "choudhary")
for x in names:
    print(x)
for i in sir_names:
    print(i)

rohan
priya
sapna
sharma
thakur
choudhary

In [18]:
for x in range(len(names)):
    print(names[x])

rohan
priya
sapna

In [19]:
for x in names:
    for y in sir_names:
        print(x+y)

rohansharma
rohanthakur
rohanchoudhary
priyasharma
priyathakur
priyachoudhary
sapnasharma
sapnathakur
sapnachoudhary

In [20]:
for i in range(len(names)):
    print(names[i]+ " " +sir_names[i])

rohan sharma
priya thakur
sapna choudhary

In [21]:
index = 0
while index < len(names):
 print(names[index]+ " " +sir_names[index])
 index += 1

rohan sharma
priya thakur
sapna choudhary

In [22]:
names

('rohan', 'priya', 'sapna')

In [23]:
sir_names

('sharma', 'thakur', 'choudhary')

# Join tuple

In [24]:
names + sir_names  # +

('rohan', 'priya', 'sapna', 'sharma', 'thakur', 'choudhary')

# Multiply Tuples

In [25]:
names * 2  # * operator

('rohan', 'priya', 'sapna', 'rohan', 'priya', 'sapna')

In [27]:
list_1 = ["fruits", "books"]
list_1 * 2

['fruits', 'books', 'fruits', 'books']

In [29]:
list_2 = [1,2,3]
list_2 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
list_2 = [1,2,3]
for i in list_2:
    print(i * 2)

2
4
6

In [31]:
list_2 = [1,2,3]
new_list = []
for i in list(list_2):
    i *= 2
    new_list.append(i)
list_2 = tuple(new_list)
print(list_2)

(2, 4, 6)

# Count method

In [32]:
second_tuple = (1,2,3,4,5,6,7)
second_tuple.count(4)

1

In [33]:
second_tuple = (1,2,3,4,4,4,4,4,4,4,4,4,5,6,7)
second_tuple.count(4)

9

# Index method

In [34]:
second_tuple = ("Rita", "sonam", "priya", 1,2,3)
second_tuple.index("priya")

2

In [35]:
second_tuple = ("Rita", "sonam", "priya", 1,2,3)
second_tuple.index(2)

4