# List Comprehension

- Example

In [2]:
Vegetables = ["Artichoke", "Amaranth", "Arugula", "Alfalfa sprouts", "Bitterguard", "Bins"]
A_Vegetables = []
for x in Vegetables:
    if "A" in x[0]:
        A_Vegetables.append(x)
print(A_Vegetables)

['Artichoke', 'Amaranth', 'Arugula', 'Alfalfa sprouts']

# The Syntax:

In [6]:
Vegetables = ["Artichoke", "Amaranth", "Arugula", "Alfalfa sprouts", "Bitterguard", "Bins"]
newlist = [Vegetable for Vegetable in Vegetables if "A" in Vegetable[0]]
print(newlist)

['Artichoke', 'Amaranth', 'Arugula', 'Alfalfa sprouts']

In [7]:
number = [11,12,13,14,15,16,17,18,19,20]
even_num = [num for num in number if num%2==0]
odd_num = [num for num in number if num%2!=0]
print(even_num)
print(odd_num)

[12, 14, 16, 18, 20]
[11, 13, 15, 17, 19]

# Convert even numbers in the list odd numbers

In [8]:
number = [11,12,13,14,15,16,17,18,19,20]
odd_num = [num+1 for num in number if num%2==0]
print(odd_num)

[13, 15, 17, 19, 21]

# Copy the entire list

In [11]:
number = ["one", "two","three", "four", "five", "six"]
new_num = [num for num in number]
print(new_num)

['one', 'two', 'three', 'four', 'five', 'six']

In [12]:
name = ["snaya", "ananya", "riya"]
capital_name = [x.upper() for x in name]
print(capital_name)

['SNAYA', 'ANANYA', 'RIYA']

In [15]:
Vegetables = ["Artichoke", "Bitterguard", "Bins", "Potato"]
funnylist = [x if x!= "Bitterguard" else "Tomato" for x in Vegetables]
print(funnylist)

['Artichoke', 'Tomato', 'Bins', 'Potato']

# Short list alphanumerically

In [16]:
onelist = ["cherry", "kiwi", "orange", "banana", "apple"]
onelist.sort()
print(onelist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [17]:
onelist = [45,13,78,89,100,55,67]
onelist.sort()
print(onelist)

[13, 45, 55, 67, 78, 89, 100]

# Descending oder

In [18]:
onelist = [45,13,78,89,100,55,67]
onelist.sort(reverse=True)
print(onelist)

[100, 89, 78, 67, 55, 45, 13]

In [19]:
onelist = ["cherry", "kiwi", "orange", "banana", "apple"]
onelist.sort(reverse=False)
print(onelist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [20]:
onelist = ["cherry", "kiwi", "orange", "banana", "apple"]
onelist.sort(reverse=True)
print(onelist)

['orange', 'kiwi', 'cherry', 'banana', 'apple']

# Customize Sort Function

In [24]:
abs(-45-56)

101

In [25]:
abs(87-55)

32

# Sort the list based on how close the number is to 40:

In [26]:
def myfunction(n):
    return abs(n-40)
newlist = [100,50,56,70,60]
newlist.sort(key=myfunction)    # [60,10,16,30,20]
print(newlist)

[50, 56, 60, 70, 100]

In [27]:
def myfunction(n):
    return -(n)
newlist = [100,50,56,70,60]
newlist.sort(key=myfunction)    # [60,10,16,30,20]
print(newlist)

[100, 70, 60, 56, 50]

# Case sensitive sort()

In [29]:
Newlist = ["Apple", "banana", "Kiwi", "orange"]
Newlist.sort()
print(Newlist)

['Apple', 'Kiwi', 'banana', 'orange']

# Built in functions as key functions in sort() method

In [30]:
Newlist = ["Apple", "banana", "Kiwi", "orange"]
Newlist.sort(key= str.lower)
print(Newlist)

['Apple', 'banana', 'Kiwi', 'orange']

# Reverse order

In [31]:
Newlist = ["Apple", "banana", "Kiwi", "orange"]
Newlist.reverse()
print(Newlist)

['orange', 'Kiwi', 'banana', 'Apple']

# Copy List

In [32]:
list_1 = [5,7,9]
list_2 = list_1
print(list_1)

[5, 7, 9]

In [33]:
id(list_2)

1964544182336

In [35]:
z = 8
y = z
print(id(z))
print(id(y))

140734019152536
140734019152536

In [36]:
z

8

In [44]:
y

8

In [41]:
list_1.append("sujata")

In [46]:
list_2

[5, 7, 9, 'sujata', 'sujata']

In [38]:
addlist = [3,5,6,7, "rani"]
newlist = addlist.copy()
print(newlist)

[3, 5, 6, 7, 'rani']

In [47]:
newlist_2 = [x for x in addlist]
print(newlist_2)

[3, 5, 6, 7, 'rani']

# use list() method

In [48]:
newlist_3 = list(addlist)
print(newlist_3)

[3, 5, 6, 7, 'rani']

# Use the slice operator

In [49]:
addlist

[3, 5, 6, 7, 'rani']

In [50]:
addlist[:]

[3, 5, 6, 7, 'rani']

In [51]:
addlist[1:4]

[5, 6, 7]

In [52]:
copiedlist = addlist[:]
print(copiedlist)

[3, 5, 6, 7, 'rani']

In [53]:
id(copiedlist)

1964545005824

In [54]:
id(addlist)

1964545994944

# Copy a part of the list using : Slice operator

In [56]:
sliced_list = addlist[0:5]
print(sliced_list)

[3, 5, 6, 7, 'rani']

# join two list

In [57]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
joinlist_3 = joinlist_1 + joinlist_2
print(joinlist_3)

[2, 4, 5, 6, 7, 8, 9, 10]

# join two list by append method

In [58]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
for x in joinlist_2:
    joinlist_1.append(x)
print(joinlist_1)

[2, 4, 5, 6, 7, 8, 9, 10]

In [59]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
joinlist_3 = []
for x in joinlist_1:
    joinlist_3.append(x)
for x in joinlist_2:
    joinlist_3.append(x)
print(joinlist_3)

[2, 4, 5, 6, 7, 8, 9, 10]

# extend() method

In [60]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
joinlist_1.extend(joinlist_2)
print(joinlist_1)

[2, 4, 5, 6, 7, 8, 9, 10]

In [61]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
joinlist_3 = []
joinlist_3.extend(joinlist_1)
joinlist_3.extend(joinlist_2)
print(joinlist_3)

[2, 4, 5, 6, 7, 8, 9, 10]

In [62]:
joinlist_1 = [2,4,5,6]
joinlist_2 = [7,8,9,10]
joinlist_3 = joinlist_2.copy()
joinlist_3.extend(joinlist_1)
print(joinlist_3)

[7, 8, 9, 10, 2, 4, 5, 6]