# Join Sets
- There are several ways to join two or more sets in python.
- The `union()` and `update()` methods joins all items from both sets.
- The `intersection()` method keeps only the duplicates.
- The `difference()` method keeps the items from the first set that are not in the other set(s).
- The `symmetric_difference()` method keeps all items Except the duplicates.

In [18]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# What are common values in set1 and set 2: 4,5,6 ---> Intersection
# Create a new set which have all the numbers from set1 and set2: {1,2,3,4,5,6,7,8,9} --> Union, Update
# What are different numbers present in set1 that are not present in set 2? 1,2,3 ---> Difference ( A-B)
# What are different numbers present in set2 that are not present in set1? 7,8,9 ---> Difference (B-A)
# What numbers are different in both set 1 and set 2? 1,2,3,7,8,9 ---> Symmetric Difference--> (A-B) U (B-A)

# Union Method on two sets
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.union(set2)) # print() ---> set1.update(set2) --> return newset value---. print(newset)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}

In [26]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set3 = set1 | set2 # | - Pipe operator means Union operation
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
string_set = {"a", "b", "c"}
name_set = {"Sujata", "Ankush", "Vijay"}

complex_set = set1 | set2 | string_set | name_set
print(complex_set)

{'Ankush', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 'a', 'Sujata', 'Vijay', 'c'}

In [32]:
set1 = {1,2,3,4,5,6}
string_list = ["a", "b", "c"] # Datatype - List

complex_set = set1.union(string_list)
print(complex_set)

{1, 2, 3, 4, 5, 6, 'b', 'c', 'a'}

In [33]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

complex_set = set1.union(num_tuple, string_list, name_tuple)
print(complex_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 'Sujata', 'Ankush', 'Vijay', 'c', 'a'}

# TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [34]:
set1 = {1,2,3,4,5,6}
string_list = ["a", "b", "c"] # Datatype - List

complex_set = set1 | string_list
print(complex_set)

TypeError: unsupported operand type(s) for |: 'set' and 'list'

# TypeError: unsupported operand type(s) for |: 'list' and 'list'

In [36]:
list1 = [1,2,3,4,5,6]
string_list = ["a", "b", "c"] # Datatype - List

complex_list = list1 | string_list
print(complex_list)

TypeError: unsupported operand type(s) for |: 'list' and 'list'

In [37]:
tuple1 = (1,2,3,4,5,6)
string_tuple = ("a", "b", "c") # Datatype - List

complex_tuple = tuple1 | string_tuple
print(complex_tuple)

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

# TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [35]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

complex_set = set1 | num_tuple | string_list | name_tuple
print(complex_set)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [25]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
print(set1.update(set2)) # print() ---> set1.update(set2) --> return None value---. print(None)
print(set1)

None
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set1 |= set2 # |= Pipe equal to : Shortcut for Update method
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

set1 |= num_tuple | string_list | name_tuple
print(set1)

TypeError: unsupported operand type(s) for |: 'tuple' and 'list'

In [39]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

set1.update(num_tuple, string_list, name_tuple)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 'Sujata', 'Ankush', 'Vijay', 'c', 'a'}

In [41]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# What are common values in set1 and set 2: 4,5,6 ---> Intersection
# Create a new set which have all the numbers from set1 and set2: {1,2,3,4,5,6,7,8,9} --> Union, Update
# What are different numbers present in set1 that are not present in set 2? 1,2,3 ---> Difference ( A-B)
# What are different numbers present in set2 that are not present in set1? 7,8,9 ---> Difference (B-A)
# What numbers are different in both set 1 and set 2? 1,2,3,7,8,9 ---> Symmetric Difference--> (A-B) U (B-A)

# Keep only the duplicates - Intersection
inter_set =set1.intersection(set2)
print(inter_set)

{4, 5, 6}

# The & operator, | operator only allows operation on sets.
- & operator only allows to join sets with sets, and not with other data types like you can with the intersection() method.

In [43]:
inter_set_2 = set1 & set2 # & operator - Shortcut for intersection method
print(inter_set_2)

{4, 5, 6}

In [44]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

set1 & num_tuple & string_list & name_tuple
print(set1)

TypeError: unsupported operand type(s) for &: 'set' and 'tuple'

In [45]:
set1 = {1,2,3,4,5,6}
num_tuple = (4,5,6,7,8,9) # Datatype - Tuple
string_list = ["a", "b", "c"] # Datatype - List
name_tuple = ("Sujata", "Ankush", "Vijay") # Datatype - Tuple

complex_intersection = set1.intersection(num_tuple , string_list , name_tuple)
print(complex_intersection)

set()

In [49]:
# intersection_update()- will keep only the duplicates but it will change the original set instead of returning a new set.

set_1 = {"apple", "banana", "cherry"}
set_2 = {"google", "microsoft", "apple"}

print(set_1.intersection_update(set_2)) # None return value
print(set_1)

None
{'apple'}

In [57]:
set_1 = {"apple", "banana", "cherry"}
set_2 = {"google", "microsoft", "apple"}

class CustomSet(set):
    def __init__(self, var_set_1, var_set_2): # Constructor, Constructor Parameter
        self.input_set = var_set_1
        self.output_set = var_set_2

    def custom_intersection_update(self, ): # custom_intersection_update() - Method
        inter = self.input_set.intersection(self.output_set)
        self.input_set.clear()
        self.input_set.add(inter.pop())
        return None # Return Value

object_1 = CustomSet(set_1, set_2) # Object - Class - CustomSet()

object_1.custom_intersection_update()
object_1.input_set

{'apple'}