# Python Sets
- Sets are used to store multiple items in a single variable.
- Set is one of the 4 buit in data types in Python used to store collections of data.
- A set is a collection which is unordered, unchangeable and unindexed.
- Set items are unchangeable but you can remove items and add new items.
- Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"} # {}
thisset

{'apple', 'banana', 'cherry'}

In [3]:
print(type(thisset))

<class 'set'>

In [4]:
print(len(thisset))

3

In [5]:
for item in thisset:
    print(item)

apple
banana
cherry

# TypeError: 'set' object is not subscriptable
- Set is a collection which is unindexed.
- While loop (X)

In [7]:
counter = 0
while counter <len(thisset):
    print(thisset[counter])

TypeError: 'set' object is not subscriptable

In [8]:
thisset[0]

TypeError: 'set' object is not subscriptable

# Items in Set
- TypeError: unhashable type: 'set'

In [9]:
thisset_2 = {"apple", 1, 2, 3, {"banana", "cherry", "apple"}, True, False}
thisset_2

TypeError: unhashable type: 'set'

In [15]:
thisset_2 = {"apple", 1, 2, 3, True, False}
thisset_2

{1, 2, 3, False, 'apple'}

- Set items are unordered, unchangeable, and do not allow duplicate values.
- Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them , and cannot be referred to by index or key.
- Set items are unchangeable, meanning that we cannot change the items after the set has been created.
- But you can remove items and add new items.
- Duplicates not allowed : we cannot have "apple"  and "apple" two items with the same value in a set.

In [12]:
thisset_3 = {"apple", 1, 2, 3, True, False, "apple"}
thisset_3 # True - Missing ?

{1, 2, 3, False, 'apple'}

# Note: True and 1 are considered the same value in sets, and are treated as duplicates.
## Similarly: 0 and False are considered same values in sets.

In [13]:
thisset_4 = {1, True, 0, False}
thisset_4

{0, 1}

In [14]:
thisset_4 = {1.0, True, 0.0, False}
thisset_4

{0.0, 1.0}

In [16]:
len(thisset_4)

2

In [17]:
type(thisset_4)

set

# set() constructor

In [19]:
# list(), tuple(), set()
new_set = set((1,2,3,4,5,"apple")) # we can use set() constructor to create a new set
type(new_set)

set

In [24]:
list_1 = [1,2,3,4,4,4,5,5,6,6,8,9,"apple", "banana", "Sujata", "True", True]
list_1
len(list_1)

17

In [23]:
con_set = set(list_1)
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Sujata', 'True', 'apple', 'banana'}

In [26]:
len(con_set)

12

# Access Set Items
- You cannot access items in a set by referring to an index or a key.
- `for` loop can be used on the set items.

In [27]:
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Sujata', 'True', 'apple', 'banana'}

In [31]:
for item in con_set:
    print(item)

1
2
3
4
5
6
8
9
banana
True
Sujata
apple

In [32]:
# Check if "Sujata" is present in the con_set
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Sujata', 'True', 'apple', 'banana'}

In [33]:
if "Sujata" in con_set:
    print("Sujata is present")

Sujata is present

In [35]:
if "Suraj Bhardwaj" in con_set:
    print("Suraj is present")
else:
    print("Suraj is absent")

Suraj is absent

# Sets are Unindexed

In [36]:
con_set[0]

TypeError: 'set' object is not subscriptable

# Can we add "Mango" in con_set ?
- con_set is already.
- Once a set is created, you cannot change its items. => con_set items cannot be changed.
- But You can add new items
- add() method

In [37]:
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Sujata', 'True', 'apple', 'banana'}

In [38]:
# Add Mango to the set
con_set.add("Mango")
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Mango', 'Sujata', 'True', 'apple', 'banana'}

# Add Sets
- To add items from another set into the current set, use the update() method

In [39]:
con_set

{1, 2, 3, 4, 5, 6, 8, 9, 'Mango', 'Sujata', 'True', 'apple', 'banana'}

In [41]:
thisset

{'apple', 'banana', 'cherry'}

In [44]:
print(type(con_set))

<class 'set'>

In [42]:
con_set.update(thisset)
con_set

{1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 'Mango',
 'Sujata',
 'True',
 'apple',
 'banana',
 'cherry'}

In [43]:
con_set.add("Sujata")
con_set

{1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 'Mango',
 'Sujata',
 'True',
 'apple',
 'banana',
 'cherry'}

# Add Any iterable
- Iterable - List, Tuple, dictionary
- Set + List ? Set + Dictionary?
- The object in the update() method does not have to be a set, it can be any iterable object.

In [47]:
list_1 = [1,2,3,4,5,"Ankush"]
print(type(list_1))

<class 'list'>

In [48]:
con_set

{1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 'Mango',
 'Sujata',
 'True',
 'apple',
 'banana',
 'cherry'}

In [49]:
con_set.update(list_1)
con_set

{1,
 2,
 3,
 4,
 5,
 6,
 8,
 9,
 'Ankush',
 'Mango',
 'Sujata',
 'True',
 'apple',
 'banana',
 'cherry'}

# Remove Set items
- remove()
- discard()

In [50]:
thisset

{'apple', 'banana', 'cherry'}

In [51]:
# Remove cherry from thisset
thisset.remove("cherry")
thisset

{'apple', 'banana'}

# If the item to remove does not exist, remove() will raise an error

In [52]:
thisset.remove("cherry")
thisset

KeyError: 'cherry'

In [55]:
thisset.discard("apple")
thisset

{'banana'}

In [56]:
thisset.discard("apple")
thisset

{'banana'}

In [57]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("Sujata")

KeyError: 'Sujata'

In [58]:
thisset.discard("Sujata")

# pop()
- You can also use the pop() method to remove an item but this method will remove a random item, so you cannot be sure what item that gets removed.
- The return value of the pop() method is the removed item.

In [59]:
thisset

{'apple', 'banana', 'cherry'}

In [60]:
thisset.pop("apple")

TypeError: set.pop() takes no arguments (1 given)

In [61]:
thisset.pop()
thisset

{'apple', 'banana'}

In [62]:
thisset_1 = {1,2,3,4,5, "Sujata", "apple", "mango"}
x = thisset_1.pop()
x

1

In [64]:
type(x)

int

In [63]:
thisset_1

{2, 3, 4, 5, 'Sujata', 'apple', 'mango'}

# To clear or empty the set we can use clear() method

In [65]:
thisset_1.clear()
thisset_1

set()

In [66]:
thisset

{'apple', 'banana'}

# The del keyword will delete the set completely.

In [67]:
del thisset
print(thisset)

NameError: name 'thisset' is not defined