# Python - Add List Items

In [1]:
# Let's create a list of student names
student_names = ["Ankush", "Vijay", "Sujata", "Suraj"]
student_names

['Ankush', 'Vijay', 'Sujata', 'Suraj']

# Append Items
- Let's assume we have a new student enrolled to our program.
- New student name is : Soniya
- We have to add her name to the student_names list
- We can use append() method to add an item to the end of the list.

In [2]:
student_names.append("Soniya")
student_names

['Ankush', 'Vijay', 'Sujata', 'Suraj', 'Soniya']

# But, what if we need to add "Soniya" after Sujata
- We have to add her name at a specified index
- To insert a list item at a specified index, we can use insert() method

In [3]:
student_names.insert(3, "Soniya")
student_names

['Ankush', 'Vijay', 'Sujata', 'Soniya', 'Suraj', 'Soniya']

# Let's assume we have another program called CPP program
- We have another list of students who are studying C++
- What if we have to create a master list which includes all the students learning C++ and Python
- We can do one thing: We can extend our student_names list with the cpp_student_list
- We can use extend() method to do this

In [4]:
cpp_student_list = ["Kartik", "James", "Kaithy"]

student_names.extend(cpp_student_list)
student_names

['Ankush',
 'Vijay',
 'Sujata',
 'Soniya',
 'Suraj',
 'Soniya',
 'Kartik',
 'James',
 'Kaithy']

# Add Any Iterable
- We can use extend() method to add any iterable object (tuple, sets, dictionary etc)

In [5]:
cpp_student_tuple = ("Kartik_2", "James_2", "Kaithy_2")
student_names.extend(cpp_student_tuple)
student_names

['Ankush',
 'Vijay',
 'Sujata',
 'Soniya',
 'Suraj',
 'Soniya',
 'Kartik',
 'James',
 'Kaithy',
 'Kartik_2',
 'James_2',
 'Kaithy_2']

In [36]:
other_stud_names = {
    "html_name":"Alina",
    "css_name" : "Rita", # Key : Value
    "java_name": "Kati",
}

new_list = ["Ankush", "Suraj"]

new_list.extend(other_stud_names.values())
new_list

['Ankush', 'Suraj', 'Alina', 'Rita', 'Kati']

In [39]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

for item in other_stud_names: # iteration is happening on the key of the dictionary by default
    print(item)

html_name
css_name
java_name

In [40]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    print(item)

['Alina', 'Bob', 'Dominic']
['Rita', 'Retu', 'Aman']
['Kati', 'Sati', 'Chatty']

In [42]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    # print(item)
    for sub_item in item:
        print(sub_item)

Alina
Bob
Dominic
Rita
Retu
Aman
Kati
Sati
Chatty

In [43]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

empty_list = []
for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    # print(item)
    for sub_item in item:
        # print(sub_item)
        empty_list.append(sub_item)
        print(empty_list)

['Alina']
['Alina', 'Bob']
['Alina', 'Bob', 'Dominic']
['Alina', 'Bob', 'Dominic', 'Rita']
['Alina', 'Bob', 'Dominic', 'Rita', 'Retu']
['Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman']
['Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati']
['Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati']
['Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati', 'Chatty']

In [45]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

non_empty_list = ["Sujata", "Suraj"]
for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    # print(item)
    for sub_item in item:
        # print(sub_item)
        non_empty_list.append(sub_item)
        print(non_empty_list)

['Sujata', 'Suraj', 'Alina']
['Sujata', 'Suraj', 'Alina', 'Bob']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati', 'Chatty']

In [47]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

non_empty_list_2 = ["Sujata", "Suraj"]
for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    print(item)
    for sub_item in item:
        # print(sub_item)
        non_empty_list_2.extend(sub_item)
        print(non_empty_list_2)

['Alina', 'Bob', 'Dominic']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c']
['Rita', 'Retu', 'Aman']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a', 'R', 'e', 't', 'u']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a', 'R', 'e', 't', 'u', 'A', 'm', 'a', 'n']
['Kati', 'Sati', 'Chatty']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a', 'R', 'e', 't', 'u', 'A', 'm', 'a', 'n', 'K', 'a', 't', 'i']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a', 'R', 'e', 't', 'u', 'A', 'm', 'a', 'n', 'K', 'a', 't', 'i', 'S', 'a', 't', 'i']
['Sujata', 'Suraj', 'A', 'l', 'i', 'n', 'a', 'B', 'o', 'b', 'D', 'o', 'm', 'i', 'n', 'i', 'c', 'R', 'i', 't', 'a', 'R', 'e', 't', 'u', 'A', 'm', 'a', 'n', 'K', 'a', 't', 'i', 'S', 'a', 't', 'i', 'C', 'h', 'a', 't', 't', 'y']

In [51]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

non_empty_list_3 = ["Sujata", "Suraj"]
for item in other_stud_names.values(): # iteration is happening on the key of the dictionary by default
    print(item)
    non_empty_list_3.extend(item)
    print(non_empty_list_3)

['Alina', 'Bob', 'Dominic']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic']
['Rita', 'Retu', 'Aman']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman']
['Kati', 'Sati', 'Chatty']
['Sujata', 'Suraj', 'Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati', 'Chatty']

In [7]:
other_stud_names = {
    "html_name":["Alina", "Bob", "Dominic"],
    "css_name" : ["Rita", "Retu", "Aman"], # Key : Value
    "java_name": ["Kati","Sati", "Chatty"]
}

other_stud_names

{'html_name': ['Alina', 'Bob', 'Dominic'],
 'css_name': ['Rita', 'Retu', 'Aman'],
 'java_name': ['Kati', 'Sati', 'Chatty']}

In [33]:
other_stud_names["html_name"]

['Alina', 'Bob', 'Dominic']

In [34]:
other_stud_names["html_name"][0]

'Alina'

In [35]:
other_stud_names["html_name"][2]

'Dominic'

In [10]:
other_stud_names.items()

dict_items([('html_name', ['Alina', 'Bob', 'Dominic']), ('css_name', ['Rita', 'Retu', 'Aman']), ('java_name', ['Kati', 'Sati', 'Chatty'])])

In [11]:
other_stud_names.keys()

dict_keys(['html_name', 'css_name', 'java_name'])

In [12]:
other_stud_names.values()

dict_values([['Alina', 'Bob', 'Dominic'], ['Rita', 'Retu', 'Aman'], ['Kati', 'Sati', 'Chatty']])

In [16]:
var_1 = other_stud_names.values()
type(var_1)

dict_values

In [8]:
student_names

['Ankush',
 'Vijay',
 'Sujata',
 'Soniya',
 'Suraj',
 'Soniya',
 'Kartik',
 'James',
 'Kaithy',
 'Kartik_2',
 'James_2',
 'Kaithy_2']

In [9]:
student_names.extend(other_stud_names)
student_names # Note: Will add Dictionaries Keys to the end of the list

['Ankush',
 'Vijay',
 'Sujata',
 'Soniya',
 'Suraj',
 'Soniya',
 'Kartik',
 'James',
 'Kaithy',
 'Kartik_2',
 'James_2',
 'Kaithy_2',
 'html_name',
 'css_name',
 'java_name']

In [13]:
student_names.extend(other_stud_names.values())
student_names

['Ankush',
 'Vijay',
 'Sujata',
 'Soniya',
 'Suraj',
 'Soniya',
 'Kartik',
 'James',
 'Kaithy',
 'Kartik_2',
 'James_2',
 'Kaithy_2',
 'html_name',
 'css_name',
 'java_name',
 ['Alina', 'Bob', 'Dominic'],
 ['Rita', 'Retu', 'Aman'],
 ['Kati', 'Sati', 'Chatty']]

In [17]:
var_1

dict_values([['Alina', 'Bob', 'Dominic'], ['Rita', 'Retu', 'Aman'], ['Kati', 'Sati', 'Chatty']])

In [30]:
var_1[0] # Indexing is not possible here

TypeError: 'dict_values' object is not subscriptable

# for loop on names inside the 3 lists

In [18]:
student_name_2 = ["Suraj", "Sujata"]

for name in var_1:
    student_name_2.extend(name)

student_name_2

['Suraj',
 'Sujata',
 'Alina',
 'Bob',
 'Dominic',
 'Rita',
 'Retu',
 'Aman',
 'Kati',
 'Sati',
 'Chatty']

In [19]:
from itertools import chain
student_name_3 = ["Suraj", "Sujata"]

student_name_3.extend(chain(*var_1))
student_name_3

['Suraj',
 'Sujata',
 'Alina',
 'Bob',
 'Dominic',
 'Rita',
 'Retu',
 'Aman',
 'Kati',
 'Sati',
 'Chatty']

In [20]:
# sum()
student_name_4 = ["Suraj", "Sujata"]

student_name_4.extend(sum(var_1, []))
student_name_4

['Suraj',
 'Sujata',
 'Alina',
 'Bob',
 'Dominic',
 'Rita',
 'Retu',
 'Aman',
 'Kati',
 'Sati',
 'Chatty']

In [21]:
var_1

dict_values([['Alina', 'Bob', 'Dominic'], ['Rita', 'Retu', 'Aman'], ['Kati', 'Sati', 'Chatty']])

In [23]:
num_list = [100,20,10,50,500]
sum(num_list)

680

In [24]:
name_list = ["Suraj", "Sujata", "Rita"]
sum(name_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
type(var_1)

dict_values

In [26]:
var_1

dict_values([['Alina', 'Bob', 'Dominic'], ['Rita', 'Retu', 'Aman'], ['Kati', 'Sati', 'Chatty']])

In [27]:
sum(var_1, [])

['Alina', 'Bob', 'Dominic', 'Rita', 'Retu', 'Aman', 'Kati', 'Sati', 'Chatty']