# List Comprehension
- List comprehension offres a shorter syntax when you want to create a new list based on the values of an existing list.

# Example:
- Create a new list named `a_fruits` based on a list named `fruits`, containing only the fruits with the letter a in the name at index 0.

In [1]:
# Let's solve it using a for loop
fruits = ["apple", "banana", "cherry", "mango", "anar", "ananas", "ackee", "avacado", "apricots", "alpine strawberry"]

a_fruits = []

for x in fruits:
    if "a" in x[0]:
        a_fruits.append(x)

print(a_fruits)

['apple', 'anar', 'ananas', 'ackee', 'avacado', 'apricots', 'alpine strawberry']

# The Syntax:
- newlist = [expression for item in iterable if condition == True]
- The return value is a new list, leaving the old list unchanged.

In [2]:
fruits = ["apple", "banana", "cherry", "mango", "anar", "ananas", "ackee", "avacado", "apricots", "alpine strawberry"]
newlist = [fruit for fruit in fruits if "a" in fruit[0]] # newlist = [loop_variable for loop condition]
print(newlist)

['apple', 'anar', 'ananas', 'ackee', 'avacado', 'apricots', 'alpine strawberry']

In [3]:
number = [1,2,3,4,5,6,7,8,9,10]

# List of Even number and List of odd numbers
even_num = [num for num in number if num%2==0]  # [item for item in iterable if condition == True]

odd_num = [num for num in number if num%2!=0]
print(even_num)
print(odd_num)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

# Convert even numbers in the list into odd numbers and add them into a new list
- Iterable can be any iterable object, like a list , tuple , set etc.

In [4]:
number = [1,2,3,4,5,6,7,8,9,10]

# List of Even number and List of odd numbers
odd_num = [num+1 for num in number if num%2==0]  # [expression for item in iterable if condition == True]
print(odd_num)

[3, 5, 7, 9, 11]

# Copy the entire list

In [6]:
number = [1,2,3,4,5,6,7,8,9,10]

# List of Even number and List of odd numbers
new_num = [num for num in number] # If there is no condition in the list comprehension
print(new_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
name = ["sujata", "anu", "palak"]

capital_name = [x.upper() for x in name]
print(capital_name)

['SUJATA', 'ANU', 'PALAK']

In [8]:
fruits = ["apple", "banana", "cherry", "mango"]

funny_list = [x if x!= "apple" else "mango" for x in fruits]
print(funny_list)

['mango', 'banana', 'cherry', 'mango']

# Sort list alphanumerically
- List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

In [9]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [10]:
thislist = [100,50,65,82,23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

# Descending order;
- Sort the list in descending order

In [11]:
thislist = [100,50,65,82,23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [12]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse=False) # Ascending order
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [13]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse=True) # Descending order
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Customize Sort Function
- You can also customize your own function by using the keyword argument key = function.
- The function will return a number that will be used to sort the list (the lowest number first):

In [15]:
abs(-100-55)

155

In [18]:
abs(10-55) # |-55| = +55, -55

45

# Sort the list based on how close the number is to 50:

In [19]:
def myfunction(n):
    return abs(n-50)
# x1, x2 , distance = |x2-x1|
thislist = [100,10,20,25,1000,50000] # 

thislist.sort(key=myfunction) # abs(n-50) = distance = [50, 40,30,25, 950, 49950]

print(thislist)

[25, 20, 10, 100, 1000, 50000]

In [22]:
def myfunction(n):
    return -(n)

thislist = [100,10,20,25,1000,50000] # Reverse = True

thislist.sort(key=myfunction) # abs(n-50) = distance = [50, 40,30,25, 950, 49950]

print(thislist)

[50000, 1000, 100, 25, 20, 10]

# Case Sensitive sort()
- By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters.

In [24]:
this_list = ["Banana", "apple", "Orange", "cherry"] # A, B, C --- Z, a,b,c,--z
this_list.sort()
print(this_list)

['Banana', 'Orange', 'apple', 'cherry']

# Built-in functions as key functions in sort() method

In [25]:
this_list = ["Banana", "apple", "Orange", "cherry"]
this_list.sort(key = str.lower)  #  a,b,c,--z
print(this_list)

['apple', 'Banana', 'cherry', 'Orange']

# Reverse Order
- What if you want to reverse the order of the list, regardless of the alphabet?
- The reverse() method reverses the current sorting order of the elements.

In [26]:
thislist = ["Banana", "apple", "Orange", "cherry"]
thislist.reverse() # n= highest index, [n, n-1, n-2, n-3, n-4, ......, n-n] , # [3,3-1,3-2,3-3] = [3,2,1,0]
print(thislist)

['cherry', 'Orange', 'apple', 'Banana']

# Copy List
- You cannot copy a list by typing ``list2 = list1`` , because : `list2` will only be a reference to `list1`, and changes made in `list1` will automatically be made in `list2`.

In [27]:
list1 = [1,2,3]
list2 = list1

id(list1)

1528816934400

In [28]:
id(list2)

1528816934400

In [30]:
x = 5
y = x

print(id(x))
print(id(y))

140734322715192
140734322715192

In [31]:
x

5

In [32]:
y

5

In [33]:
list1.append("Sujata")

In [34]:
list2

[1, 2, 3, 'Sujata']

In [37]:
thislist = [1,2,3,4,5, "Sujata"] # Copy using copy() method
newlist = thislist.copy()
print(newlist)

[1, 2, 3, 4, 5, 'Sujata']

In [36]:
newlist_2 = [x for x in thislist] # Copy using List comprehension
print(newlist_2)

[1, 2, 3, 4, 5, 'Sujata']

# Use list() method

In [38]:
new_list_3 = list(thislist)
print(new_list_3)

[1, 2, 3, 4, 5, 'Sujata']

# Use the slice operator
- You can also make a copy of the list using the : slice operator

In [39]:
thislist

[1, 2, 3, 4, 5, 'Sujata']

In [40]:
thislist[:]

[1, 2, 3, 4, 5, 'Sujata']

In [42]:
thislist[1:3] # Indexing and Slicing

[2, 3]

In [43]:
copied_list = thislist[:]
print(copied_list)

[1, 2, 3, 4, 5, 'Sujata']

In [44]:
id(copied_list)

1528816477120

In [46]:
id(thislist)

1528816333824

# Copy a part of the list using : Slice operator

In [47]:
sliced_list = thislist[0:5]
print(sliced_list)

[1, 2, 3, 4, 5]

# Join Two List
- There are several ways to join , or concatenate , two or more lists in python.
- `+ ` Operator

In [48]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Join two lists by appending all the items from list 1 and list 2, one by one

In [49]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

for x in list_2:
    list_1.append(x)

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = []
for x in list_1:
    list_3.append(x)

for x in list_2:
    list_3.append(x)

print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# extend() method

In [51]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = []

list_3.extend(list_1)
list_3.extend(list_2)
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = list_1.copy()
list_3.extend(list_2)
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]