# Checking the type of characters in a string using string methods

# Checking Alphanumeric characters in a string- isalnum()

In [ ]:
txt = "Hello World 123" # Alphabets : a-z, numeric data - (0-9), Space
print(txt.isalnum())

False

In [4]:
txt_2 = "SujataKumari23"
print(txt_2.isalnum()) # Returns True, If all the characters are alphanumeric, meaning alphabets (a-z) and numbers (0-9)

True

In [5]:
txt_3 = "hi my name is rita123"
print(txt_3.isalnum())

False

# isalpha() - returns True if all the characters are alphabet letters (a-z)

In [6]:
txt = "SujataKumari"
print(txt.isalpha())

True

In [7]:
txt = "rita kumari"
print(txt.isalpha())

False

# isascii() - returns true , if all the characters are ascii characters.

In [8]:
txt = "Sujatakumari123"
print(txt.isascii())

True

In [12]:
txt = "@#$%  Sujata"
print(txt.isascii())

True

In [15]:
txt = "Ich heiße Sujata. ss = ß, esset "
print(txt.isascii())

False

# isdecimal() - returns true, if all the characters in the string are decimals

In [17]:
txt = "1234" # (0-9) if all the characters are decimals
print(txt.isdecimal())

True

In [18]:
txt = "0.234"
print(txt.isdecimal())

False

In [19]:
txt = "5000"
print(txt.isdigit())

True

In [20]:
txt = "AB1000"
print(txt.isdigit())

False

In [ ]:
txt = "5e-4" # Digit = 5 x 10^-4 = 0.0005
print(txt.isdigit())

False

In [23]:
txt = "10**2"
print(txt.isdigit())

False

In [24]:
10**2

100

# isidentifier() - returns true if the string is a valid identifier , otherwise false.
- A string is considered a valid identifier if it only contains alphanumeric letters (a-z) , (0-9) or underscore(_).
- A valid identifier cannot start with a number, or contain any spaces.

In [25]:
"_ashd_12345" # Right way of Identifier
"000 234 adkadha" # X

'000 234 adkadha'

In [26]:
a = "MyFolder"
b = "_This_PC"
c = "00_1_Music"
d = "67 Shimla"

print(f"Is varibale a: {a} contains a valid identifier ? Answer:{a.isidentifier()} ")
print(f"Is varibale b: {b} contains a valid identifier ? Answer:{b.isidentifier()} ")
print(f"Is varibale c: {c} contains a valid identifier ? Answer:{c.isidentifier()} ")
print(f"Is varibale d: {d} contains a valid identifier ? Answer:{d.isidentifier()} ")

Is varibale a: MyFolder contains a valid identifier ? Answer:True
Is varibale b: _This_PC contains a valid identifier ? Answer:True
Is varibale c: 00_1_Music contains a valid identifier ? Answer:False
Is varibale d: 67 Shimla contains a valid identifier ? Answer:False

In [ ]:
txt = "sujatakumari"
print(txt.islower()) # Returns true , if all the characters in a string are lowercase letters (a-z).

True

In [28]:
txt = "sujata kumari"
print(txt.islower())

True

In [29]:
txt = "sujata kumari 123"
print(txt.islower())

True

In [31]:
txt = "sujata kumari @ # $%^&*()!_+-\\.,:'"
print(txt.islower())

True

In [32]:
txt = "sujata kUmari @ # $%^&*()!_+-\\.,:'"
print(txt.islower())

False

In [33]:
txt = "12345"
print(txt.isnumeric())

True

In [34]:
txt = "1234 Sujata"
print(txt.isnumeric())

False

# isprintable() - Returns True , if all the characters are printable, otherwise False

In [35]:
txt = "Hello! My name is Sujata"
print(txt.isprintable())

True

In [36]:
txt = "Hello ! My name is  \n Sujata!"
print(txt.isprintable())

False

# isspace() - returns true - if all the characters in a string are whitespaces

In [37]:
txt = "       "
print(txt.isspace())

True

In [38]:
txt = "     A B   "
print(txt.isspace())

False

# istitle() - returns true - if all words in a text start with a upper case letter, And the rest of the word are lower case letters, otherwise false.
- Symbols and numbers are ignored
- Title : Python String Method

In [39]:
txt = "Python String Method"
print(txt.istitle())

True

In [41]:
txt = "Python String Method $1"
print(txt.istitle())

True

In [42]:
txt = "Python String Method - part 2"
print(txt.istitle())

False

# isupper() - returns true - if all characters in a string are Upper case letters

In [43]:
txt = "SUJATA"
print(txt.isupper())

True

In [44]:
txt = "SUJATA 123"
print(txt.isupper())

True

In [45]:
txt = "sUJATA"
print(txt.isupper())

False

In [48]:
varaiable_1 = "sujata kumari"
variable_2 = "12345"
variable_3 = "Gautam Girls College"

def student_data(name:str, roll_no:str, college:str):
    if name.islower():
        name = name.upper()
    else:
        name = name
    if roll_no.isdigit():
        roll_no = roll_no
    else:
        print("String is not a digit")

    if college.istitle():
        college = college
    else:
        print("College is not in Title format")

    statement = f"Student {name} is enrolled in {college} with enrollment number {roll_no}"

    return statement

student_data(varaiable_1, variable_2, variable_3)

'Student SUJATA KUMARI is enrolled in Gautam Girls College with enrollment number 12345'

In [50]:
student_data(name="Sujata", roll_no="ABA23637", college="gautam Groups college")

String is not a digit
College is not in Title format

'Student Sujata is enrolled in gautam Groups college with enrollment number ABA23637'