# Python For Loops
- A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string.)
- "Sujata" -> Iterating Over "Sujata" = 'S', 'u' , 'j', 'a', 't', 'a'
- This is less like the `for` keyword in other programming languages, and works more like an iterator method as found in other OOP languages.
- With the `for` loop we can execute a set of statements , once for each item in a list, tuple, set etc.

In [1]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [2]:
for item in fruits:
    print(item)

apple
banana
cherry

# The `for` loop does not require an idexing variable to set beforehand

In [3]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

# Looping through a string

- Strings are iterable objects, they contain a sequence of characters.

In [4]:
name = "Sujata Kumari"

for alphabet in name:
    print(alphabet)

S
u
j
a
t
a

K
u
m
a
r
i

In [5]:
name = "Sujata Kumari"

for alphabet in name:
    if alphabet == " ":
        break
    print(alphabet)

S
u
j
a
t
a

In [8]:
name = "Sujata*Kumari"

for alphabet in name:
    print(alphabet)
    if alphabet == "*":
        break

S
u
j
a
t
a
*

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# Range in Python
- `range()` function in python returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default) and ends at a specified number.

In [13]:
type(range(6))

range

In [12]:
range(6)

range(0, 6)

In [ ]:
for x in range(6): # start value = 0 , end value = 6, increment/ step value = 1
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,20,3): # start value = 2 , end value = 20, increment/ step value = 3
    print(x)

2
5
8
11
14
17

In [ ]:
for x in range(6): # Condition : True or False
    print(x)
else: # At Conition = False
    print("Finally Finished")

0
1
2
3
4
5
Finally Finished

In [ ]:
for x in range(6):
    if x ==3: 
        break # If break statement stops a loop then else will not be executed.
    print(x)
else:
    print("Finally Finished")

0
1
2

# pass statement:
- for loops cannot be empty but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an erro.

In [22]:
list_1 = [1,2,3,4]
for x in list_1:
    pass
print("Code passed!")

Code passed!

# Nested Loops
- A nested loop is a loop inside a loop.
- The inner loop will be executed one time for each iteration of the outer loop.

In [27]:
colour = ["red", "yellow", "green"]
fruits = ["apple", "banana", "cherry"]

for c in colour: # Outer Loop
    print(c)
    for item in fruits: # Inner Loop Level 1
        print(c, item)

red
red apple
red banana
red cherry
yellow
yellow apple
yellow banana
yellow cherry
green
green apple
green banana
green cherry

In [26]:
colour = ["red", "yellow", "green"]
fruits = ["apple", "banana", "cherry"]
list_1 = [1,2,3]

for c in colour: # Outer Loop
    print(c)
    for item in fruits: # Inner Loop Level 1
        print(c, item)
        for num in list_1: # Inner Loop Level 2
            print(c, item , num)

red
red apple
red apple 1
red apple 2
red apple 3
red banana
red banana 1
red banana 2
red banana 3
red cherry
red cherry 1
red cherry 2
red cherry 3
yellow
yellow apple
yellow apple 1
yellow apple 2
yellow apple 3
yellow banana
yellow banana 1
yellow banana 2
yellow banana 3
yellow cherry
yellow cherry 1
yellow cherry 2
yellow cherry 3
green
green apple
green apple 1
green apple 2
green apple 3
green banana
green banana 1
green banana 2
green banana 3
green cherry
green cherry 1
green cherry 2
green cherry 3

In [28]:
cities = ["Chandigarh", "Delhi"]
companies = ["Infosys", "Apple", "Microsoft"]

for city in cities:
    for company in companies:
        print(city, company)

Chandigarh Infosys
Chandigarh Apple
Chandigarh Microsoft
Delhi Infosys
Delhi Apple
Delhi Microsoft

# Task: Write a Python Program to print the Letter "S"