# Tuple
- Tuples are used to store multiple items in a single variable.
- Tuple is one of 4 built in data types in python used to store collections of data.
- A tuple is a collection which is ordered and unchangeable.
- Tuple are written with round brackets.

In [1]:
mytuple = ("apple", "banana","cherry") # Paranthesis for tuple
print(mytuple)

('apple', 'banana', 'cherry')

In [2]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

# Tuple items
- Tuple items are ordered , unchangeable, and allow duplicate values.
- Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]`,.. so on.
- `Ordered` - When we say that tuples are ordered , it means that the items have a defined order , and that order will not change.
- `Unchangeable`- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
- `Allow Duplicates`- Since tuples are indexed, they can have items with the same value.
- `Determine Length` - `len()` function can be used to determine the length of a tuple.
- Tuple items can be of any datatype.
- type() - can be used to determine the type of tuple variable.
- It is also possible to use the `tuple()` constructor to make a tuple.

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry") # Allow Duplicates, ()
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
thistuple_1 = (1,2,3,4,5,"apple",True) # Tuple items can be of any datattype.
print(thistuple_1)

(1, 2, 3, 4, 5, 'apple', True)

In [5]:
# Length of thistuple_1
len(thistuple_1)

7

In [9]:
# Tuple with one item in it
one_item_tuple = ("apple",) # Comma after the item, otherwise Python will not recognise it as a tuple
print(one_item_tuple)
print(type(one_item_tuple))

('apple',)
<class 'tuple'>

In [8]:
one_item_tuple = ("apple")
print(one_item_tuple)
type(one_item_tuple)

apple

str

In [10]:
one_item_list = ["apple"]
print(type(one_item_list))

<class 'list'>

In [11]:
tuple_1 = (1,2,3,4,5)
tuple_1

(1, 2, 3, 4, 5)

In [13]:
tuple((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

# Comparison
- List is a collection which is ordered and changeable . Allow duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allow duplicate members.
- Set ia collection which is unordered, unchangeable and unindexed. No duplicate members
- Dictionary is a collection which is ordered and changeable. No duplicate members.

- Set items are unchangeable, but you can remove and /or add items whenever you like.
- Dictionaries (Version>3.7): Ordered , (Version<3.6): Unordered

In [14]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [15]:
thistuple[1] # Positive Indexing

'banana'

In [16]:
thistuple[-1]

'cherry'

In [17]:
thistuple[-2] # Negative Indexing

'apple'

In [18]:
thistuple[:] # Slicing

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [19]:
thistuple[1:4] # Slicing- Range of indexes

('banana', 'cherry', 'apple')

In [21]:
thistuple[-4:-1] # Slicing- Range of Negative indexes

('banana', 'cherry', 'apple')

In [22]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [23]:
# Check if banana exists in thistuple
if "banana" in thistuple:
    print("Yes , banana exists in thistuple")

Yes , banana exists in thistuple

# Change Tuple Values
- Tuples are unchangeable or immutable.
- But there is a workaround. 
- You can convert the tuple into alist, change the list and convert the list back to tuple.

In [29]:
thistuple = ('apple', 'banana', 'cherry', 'apple', 'cherry')
converted_list = list(thistuple)
print(type(converted_list))
print(converted_list)

<class 'list'>
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [30]:
converted_list[3] = "mango"
converted_list

['apple', 'banana', 'cherry', 'mango', 'cherry']

In [31]:
new_tuple = tuple(converted_list)
print(type(new_tuple))
print(new_tuple)

<class 'tuple'>
('apple', 'banana', 'cherry', 'mango', 'cherry')

In [41]:
thistuple = ('apple', 'banana', 'cherry', 'apple', 'cherry')
converted_list = list(thistuple)
print(type(converted_list))
print(converted_list)

converted_list.append(["Sujata", "Kumari","James"])

new_tuple = tuple(converted_list)
print(type(new_tuple))
print(new_tuple)

<class 'list'>
['apple', 'banana', 'cherry', 'apple', 'cherry']
<class 'tuple'>
('apple', 'banana', 'cherry', 'apple', 'cherry', ['Sujata', 'Kumari', 'James'])

In [43]:
thistuple = ('apple', 'banana', 'cherry', 'apple', 'cherry')
converted_list = list(thistuple)
print(type(converted_list))
print(converted_list)

converted_list.remove("apple")

new_tuple = tuple(converted_list)
print(type(new_tuple))
print(new_tuple)

<class 'list'>
['apple', 'banana', 'cherry', 'apple', 'cherry']
<class 'tuple'>
('banana', 'cherry', 'apple', 'cherry')

In [34]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [35]:
new_tuple

('apple', 'banana', 'cherry', 'apple', 'cherry', ['Sujata', 'Kumari', 'James'])

# Add tuple to tuple

In [36]:
thistuple = thistuple + new_tuple 
thistuple

('apple',
 'banana',
 'cherry',
 'apple',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'cherry',
 ['Sujata', 'Kumari', 'James'])

# Delete the tuple
- del keyword

In [38]:
thistuple = (1,2,3,4,5)
thistuple

(1, 2, 3, 4, 5)

In [39]:
del thistuple

In [40]:
print(thistuple)

NameError: name 'thistuple' is not defined