# Tuple Unpacking
- Tuple Packing: When we assign values to a tuple it is called tuple packing.
- Tuple Unpacking: When we extract the values back into variables froma tuple, this is called tuple unpacking.

In [1]:
tuple_fruits = ("apple", "banana") # Tuple Packing
tuple_fruits

('apple', 'banana')

In [2]:
variable_1 = tuple_fruits # Extract? Assignment
variable_1

('apple', 'banana')

In [4]:
var_1, var_2 = tuple_fruits # Tuple Unpacking
print(var_1)
print(var_2)

apple
banana

# Note:
- The number of variables must match the number of values in the tuple.
- If not, you must use as asterik to collect the remaining values as a list.

In [5]:
num_tuple = (1,2,3,4,5)

a,b,c,d,e = num_tuple
print(a,b,c,d,e )

1 2 3 4 5

In [6]:
num_tuple = (1,2,3,4,5)

(a,b,c,d,e) = num_tuple
print(a,b,c,d,e )

1 2 3 4 5

In [ ]:
num_tuple = (1,2,3,4,5)

a,b,c,d,e = num_tuple
print(a,b,c,d,e )

In [7]:
num_tuple = (1,2,3,4,5)

a,b = num_tuple
print(a,b )

ValueError: too many values to unpack (expected 2)

In [8]:
num_tuple = (1,2,3,4,5)

a, *b = num_tuple
print(a,b )

1 [2, 3, 4, 5]

In [9]:
type(b)

list

In [10]:
type(a)

int

In [11]:
num_tuple = (1,2,3,4,5)

a, b, *c = num_tuple
print(a,b, c )

1 2 [3, 4, 5]

In [12]:
num_tuple = (1,2,3,4,5)

*a, b, c = num_tuple
print(a,b, c )

[1, 2, 3] 4 5

In [15]:
num_tuple = (1,2,3,4,5)

*c = num_tuple

print(c )

SyntaxError: starred assignment target must be in a list or tuple (452067152.py, line 3)

In [16]:
num_tuple = (1,2,3,4,5)

*c, = num_tuple

print(c )

[1, 2, 3, 4, 5]

In [20]:
this_tuple = (1)
print(type(this_tuple))
this_tuple = (1,)
print(type(this_tuple))

<class 'int'>
<class 'tuple'>

In [22]:
first_names = ("Sujata", "Suraj", "Ankush")

last_names = ("Kumari", "Bhardwaj", "Khatri")

for x in first_names:
    print(x)

for i in last_names:
    print(i)

Sujata
Suraj
Ankush
Kumari
Bhardwaj
Khatri

In [23]:
# Loop through Indexes - range(), len() 
for x in range(len(first_names)): # range(3) : 0,1,2
    print(first_names[x])

Sujata
Suraj
Ankush

In [24]:
# Let's combine firstname and last name
for x in first_names:
    for y in last_names:
        print(x+y)

SujataKumari
SujataBhardwaj
SujataKhatri
SurajKumari
SurajBhardwaj
SurajKhatri
AnkushKumari
AnkushBhardwaj
AnkushKhatri

In [27]:
# Let's combine firstname and last name
for i in range(len(first_names)):
    print(first_names[i]+ " " +last_names[i])

Sujata Kumari
Suraj Bhardwaj
Ankush Khatri

In [29]:
index = 0
while index < len(first_names):
    print(first_names[index]+ " " +last_names[index])
    index += 1

Sujata Kumari
Suraj Bhardwaj
Ankush Khatri

In [30]:
first_names

('Sujata', 'Suraj', 'Ankush')

In [31]:
last_names

('Kumari', 'Bhardwaj', 'Khatri')

# Join Tuples

In [33]:
first_names + last_names # +

('Sujata', 'Suraj', 'Ankush', 'Kumari', 'Bhardwaj', 'Khatri')

# Multiply Tuples

In [35]:
first_names * 2 # * operator

('Sujata', 'Suraj', 'Ankush', 'Sujata', 'Suraj', 'Ankush')

In [36]:
list_1 = ["apple", "banana"]
list_1 * 2

['apple', 'banana', 'apple', 'banana']

In [37]:
list_1 = [1,2,3]
list_1 * 2

[1, 2, 3, 1, 2, 3]

In [39]:
tuple_1 = (1,2,3,4)
for i in tuple_1:
    print(i * 2)

2
4
6
8

In [40]:
tuple_1 = (1,2,3,4)
new_list = []
for i in list(tuple_1):
    i *= 2
    new_list.append(i)

tuple_1 = tuple(new_list)
print(tuple_1)

(2, 4, 6, 8)

# count() method 
- The count() method returns the number of times a specified value appears in the tuple.

In [41]:
thistuple = (1,2,3,4,5,6,7,8)
thistuple.count(5)

1

In [43]:
thistuple = (1,2,3,4,5,5,5,5,5,5,5,5,5,5,6,7,8)
thistuple.count(5)

10

# index() method
- The index() method finds the first occurence of the specified value.
- The index() method raises an exception if the value is not found.
- The index() method search for the first occurence of a particular value and returns its position or index.

In [46]:
this_tuple = ("apple", "banana", "Sujata", "Suraj", 1,2,3)
this_tuple.index("Suraj")

3