# Python List
- Lists are used to store multiple items in a single variable.
- Lists are one of the 4 built in data types in Python used to store collections of data, the other 3 are Tuple, Set, Dictionary, all with different qualities and usuage.
- Lists are created using square brackets.

In [1]:
my_list = []
type(my_list)

list

In [2]:
my_list = ["apple", "banana", "cherry"]
my_list

['apple', 'banana', 'cherry']

# List Items
- List items are ordered , changeable and allow duplicate values.
- List items are indexed , the first item has index [0], the second item has index [1] etc.

In [3]:
my_list[0]

'apple'

In [4]:
my_list[1]

'banana'

In [5]:
my_list[2]

'cherry'

In [6]:
my_list[3]

IndexError: list index out of range

# Ordered 
- When we say that lists are ordered , it means that the items have a defined order , and that order will not change.
- If you add new items to the list, the new item will be placed at the end of the list.

In [ ]:
my_list_2 = [1,2,3,4]
my_list_2.append(5) # To add an item to the list
my_list_2

[1, 2, 3, 4, 5]

# Changeable
- We can add items to the list as well as we can remove items from a list after it has been created

In [8]:
my_list_2.remove(2)
my_list_2

[1, 3, 4, 5]

In [9]:
my_list

['apple', 'banana', 'cherry']

# List allows duplicate entries

In [10]:
my_list.append("apple")
my_list

['apple', 'banana', 'cherry', 'apple']

In [11]:
# To check the length of the list
len(my_list)

4

In [12]:
len(my_list_2)

4

In [13]:
type(my_list)

list

# list() - Constructor

In [15]:
list(("apple", "cherry", "banana"))

['apple', 'cherry', 'banana']

In [ ]:
# 1- []
# 2 - list(tuple)
# tuple - (1,2,3)

In [18]:
# List can be of any data type
list1 = ["Sujata", "Suman", "Kavya"]
list2 = [120, 121, 122]
list3 = [True, False, True]
list4 = ["Sujata", 121, True, 155, 50, "Female", 0.000]
print(list1,list2, list3, list4)

['Sujata', 'Suman', 'Kavya'] [120, 121, 122] [True, False, True] ['Sujata', 121, True, 155, 50, 'Female', 0.0]