Creating Variables

In [ ]:
x = "sujata"
y = "kumari"  #here x and y is str type variables
print(x)
print(y)

sujata
kumari

Casting

In [2]:
x = str(5)
y = int(6)
z = float(3)
print(x)
print(y)
print(z)

5
6
3.0

Get the Type

In [3]:
x = 5
y = "jerry"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes

In [4]:
x = "jerry"
print(x)        #double quotes are the same as single quotes:
x = 'jerry'
print(x)

jerry
jerry

Case-Sensitive

In [5]:
a = 6
A = "Sujata"

print(a)
print(A)

6
Sujata

Variable Names

In [6]:
myname = "Jerry"
my_name = "Jerry"
_my_name = "Jerry"
myName = "Jerry"
MYNAME = "Jerry"
myname2 = "Jerry"
print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(myname2)

Jerry
Jerry
Jerry
Jerry
Jerry
Jerry

Illegal variable names:

In [7]:
2myvar = "Jerry"
my-var = "Jerry"
my var = "Jerry"  #This example will produce an error in the result

SyntaxError: invalid decimal literal (4214929170.py, line 1)

Multi Words Variable Names
1 Camel Case

In [ ]:
myNameIs = "sujata"

In [ ]:
MyNameIs = "sujata"     #Pascal Case

In [ ]:
my_name_is = "sujata"      #Snake Case

Python Variables - Assign Multiple Values
1 Many Values to Multiple Variables

In [8]:
x, y, z = "apple", "orange", "Cherry"
print(x)
print(y)
print(z)

apple
orange
Cherry

2  One Value to Multiple Variables

In [9]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

In [10]:
fruits = ["apple", "orange", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
orange
cherry

Output Variables

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = "John"
print(x + y)    #unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Global Variables

In [13]:
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

Python is awesome

In [14]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword

In [15]:
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

Setting the Data Type

In [16]:
x = "sujata kumari"
print(x)
print(type(x)) #display data type of x

sujata kumari
<class 'str'>

In [17]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [18]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [19]:
x = 20j
print(x)
print(type(x))

20j
<class 'complex'>

In [20]:
x = ["banana" , "apple" , "grapes"]
print(x)
print(type(x))

['banana', 'apple', 'grapes']
<class 'list'>

In [21]:
x = ("banana" , "apple" , "grapes")
print(x)
print(type(x))

('banana', 'apple', 'grapes')
<class 'tuple'>

In [22]:
x = range(4)
print(x)
print(type(x))

range(0, 4)
<class 'range'>

In [23]:
x = {"name" : "sujata", "age" : 30,"class" : "bca"}
print(x)
print(type(x))

{'name': 'sujata', 'age': 30, 'class': 'bca'}
<class 'dict'>

In [24]:
x = {"apple" , "orange" ,"grapes"}
print(x)
print(type(x))

{'apple', 'orange', 'grapes'}
<class 'set'>

In [25]:
x = frozenset({"grapes" , "orange" , "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'orange', 'grapes'})
<class 'frozenset'>

In [26]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [27]:
x = b"jerry"
print(x)
print(type(x))

b'jerry'
<class 'bytes'>

In [28]:
x = bytearray(8)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [29]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x00000255FBA69540>
<class 'memoryview'>

In [30]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>