# Introduction to Python

In [3]:
# How to check the Python Version
import sys # You can find the python version using sys module
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

# Python Syntax

In [8]:
print(1)
print(2)
print(3)
print(4000099183971973)

1
2
3
4000099183971973

# Variable

In [10]:
# Let us assume x is a  number.
x = 5
print(x)
x = 6
print(x)

5
6

In [15]:
x = 10 # Integer Datatype (-infinity , 0 , + infinity)
x

10

In [17]:
1/2 # Fraction

0.5

In [18]:
2.3 # Decimal or floating point number

2.3

In [19]:
5 + 2

7

In [20]:
5 -2

3

In [21]:
10.587345 - 9.123456789

1.4638882109999987

In [ ]:
x = "Sujata Kumari" # String - Comment
x

'Sujata Kumari'

In [24]:
x = "My name is Sujata Kumari, I am 22 yeras old. 1/2, 3.000, 482864862, gjhgahjgjhdga \nThis is a new line"
print(x)

My name is Sujata Kumari, I am 22 yeras old. 1/2, 3.000, 482864862, gjhgahjgjhdga
This is a new line

In [25]:
# This is a comment

In [26]:
"""
Doc String , This is a multi line string literal
Second Line of string
Third line of string
"""

'\nDoc String , This is a multi line string literal\nSecond Line of string\nThird line of string\n'

# Python Indentation-
- Indentation refers to the spaces at the beginning of a code line.

In [ ]:
if 5 > 2:
    print("Five is greater than two")

Five is greater than two

# Simulating a syntax error

In [28]:
if5 > 2:
    print("Five is greater than two")

SyntaxError: invalid syntax (3736121768.py, line 1)

# if keyword Expression 1: Expression 2

In [29]:
if 5 > 2:
print("Five is greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (4267780824.py, line 2)

In [30]:
if 5 > 2:print("Five is greater than two")

Five is greater than two

In [34]:
if 5 > 10:print("Five is greater than two") else: print("Ten is greater than five")

SyntaxError: invalid syntax (1540906068.py, line 1)

In [39]:
if 5 > 10:
    print("Five is greater than two") 
else:
    print("Ten is greater than five")

Ten is greater than five

# Creating Variables
- Python has no command to declare a variable.
- A variable is created the moment you first assign a value to it.

In [ ]:
x = 5

# Casting 
- If you want to assign the datatype of a varible then you can do it with casting.

In [48]:
x = str(3)
x

'3'

In [53]:
x = int(2.0)
x

2

In [57]:
x = float(3)
x

3.0

# Get the type
- You can get the data type of a variable with the type() function.

In [58]:
type(x)

float

In [61]:
y = "Sujata Kumari"
y = 'Sujata Kumari 2'
print(type(y))
print(y)

<class 'str'>
Sujata Kumari 2

In [60]:
type(y)

str

# Case-Sensitive
- Variable names are case-sensitive

In [62]:
name = "Sujata Kumari"
GENDER = "Female"
age = "22"
a = 4
A = "Sujata"

In [63]:
name = "Usha"
print(name)

Usha

In [65]:
NAME = "Kamal"
print(name)
print(NAME)

Usha
Kamal