# String Methods in Python

In [2]:
txt = "we are so called Indians. we are from the north India"
print(txt.capitalize()) # Upper case the first letter in the sentence.

We are so called indians. we are from the north india

In [6]:
txt = "HellO WoRld"
txt.casefold() # Converts string into lower case

'hello world'

In [9]:
txt = " My name is Sujata."
txt.center(100) # Returns a centered string

'                                         My name is Sujata.                                         '

In [10]:
txt.center(100, "*")

'**************************************** My name is Sujata.*****************************************'

# Python string encoding

In [1]:
txt = "My name is StÃ¥le" # UTF-8 Unicode Transformation Format -8bit
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [4]:
x = txt.encode(encoding="ascii")
print(x)

UnicodeEncodeError: 'ascii' codec can't encode character '\xe5' in position 13: ordinal not in range(128)

In [3]:
x = txt.encode(encoding="ascii", errors="backslashreplace")
print(x)

b'My name is St\\xe5le'

# Count Method

In [5]:
txt = " I love apple, apple is my favourite fruit. apple is healthy."
txt.count("apple")

3

In [6]:
txt.count("a")

5

In [7]:
txt.count("I")

1

In [8]:
txt.count(" ")

11

In [9]:
txt.count("apple", 10, 20)

1

# endswith() Method
# The endswith() returns True if the string ends with the specified value, otherwise False.

In [10]:
txt = "My name is Sujata."
x = txt.endswith(".")
print(x)

True

In [11]:
txt = "My name is Sujata! I am a girl!"
x = txt.endswith("!")
print(x)

True

In [12]:
txt.endswith("!", 0, 18)

True

In [13]:
txt.endswith("!", 0, 20)

False

In [14]:
txt.endswith("girl!")

True

In [15]:
# expandtabs() method
txt = "H\te\tl\tl\to"
x = txt.expandtabs()
print(x)

H       e       l       l       o

In [19]:
x = txt.expandtabs(1)
print(x)

H e l l o

In [24]:
x = txt.expandtabs(-10)
print(x)

Hello

In [26]:
x = txt.expandtabs(10)
print(x)

H         e         l         l         o

# find() Method
- Where in the text is the work "welcome"?
- The find() method finds the first occurance of the specified value.
- The find method returns -1 if the value is not found.
- The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

In [27]:
txt = "Hello , welcome to my LinkedIn profile. My name is Sujata Kumari."

x = txt.find("welcome")
print(x)

8

In [28]:
x = txt.find("King")
print(x)

-1

In [29]:
x = txt.index("welcome")
print(x)

8

In [30]:
x = txt.index("King")
print(x)

ValueError: substring not found

In [31]:
x = txt.find("welcome", 10, 20)
print(x)

-1

In [32]:
x = txt.find("welcome", 0, 10)
print(x)

-1

In [33]:
x = txt.find("welcome", 0, 15)
print(x)

8

# Format Method
- The format() method formats the specified values and insert them inside the string's placeholder.
- The placeholder is defined using curly brackets: {}
- The format() method returns the formatted string.

In [36]:
# The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}
txt1 = "My name is {fname}, I'm {age}".format(fname="Sujata", age=25)
txt1 # named indexes = fname , age

"My name is Sujata, I'm 25"

In [38]:
# numbered Indexes
txt2 = "My name is {0}, I'm {1}".format("Sujata",25)
txt2

"My name is Sujata, I'm 25"

In [39]:
txt3 = "My name is {1}, I'm {0}".format("Sujata", 25)
txt3

"My name is 25, I'm Sujata"

In [40]:
# Empty placeholders
txt4 = "My name is {}, I'm {}".format("Sujata", 25)
txt4

"My name is Sujata, I'm 25"

In [42]:
txt5 = "My name is {}, I'm {}".format("Sujata")
txt5

IndexError: Replacement index 1 out of range for positional args tuple

# To demonstrate , we insert the number 8 to set the avialable space for the value to 8 Characters.
- Use "<" to left-align the value:

In [54]:
# Inside the placeholders you can add a formatting type to format the result:
txt = "We have {:<18}chickens."
print(txt.format(49))

We have 49                chickens.

In [56]:
txt = "We have {:>18} chickens."
print(txt.format(49))

We have                 49 chickens.

In [57]:
txt = "We have {:^18}chickens."
print(txt.format(49))

We have         49        chickens.

In [59]:
"We have {:^18} chickens.".format(49)

'We have         49         chickens.'

In [62]:
txt = "The temperature is {:=8} degree celcius."
print(txt.format(-5)) # Use "=" to place the plus/minus sign at the left most position.

The temperature is -      5 degree celcius.

In [61]:
txt = "The temperature is {:=8} degree celcius."
print(txt.format(+5))

The temperature is        5 degree celcius.

In [72]:
# Use "+" to always indicate if the number is positive or negative
txt = "The temperature is between {:-} and {:+} and {:} degrees celcius."
print(txt.format(-3,7, -6))

The temperature is between -3 and +7 and -6 degrees celcius.

In [74]:
txt = "The temperature is between {: } and {: } degrees celcius."
print(txt.format(-3,7))

The temperature is between -3 and  7 degrees celcius.

In [75]:
txt = "The universe is {:,} years old"
txt.format(13800000000)

'The universe is 13,800,000,000 years old'

In [ ]:
txt = "The universe is {:_} years old"
txt.format(13800000000) # Use "_" to add a underscore character as a thousand separator.

'The universe is 13_800_000_000 years old'

In [83]:
# Use "b" to convert the number into binary format
txt = "The binary version of {0} is {0:b}"
print(txt.format(50))

The binary version of 50 is 110010

In [78]:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [84]:
txt = "We have {:d} chickens."
print(txt.format(0b110010))

We have 50 chickens.

In [ ]:
txt = "We have {:e} chickens"
print(txt.format(5)) # 1e-3 = 10^-3 = 0.001, 5 x 10^0 = 5 x 1 = 5

We have 5.000000e+00 chickens

In [86]:
txt = "We have {:E} chickens"
print(txt.format(5)) # 1e-3 = 10^-3 = 0.001, 5 x 10^0 = 5 x 1 = 5

We have 5.000000E+00 chickens

In [87]:
# Fix point number format
txt = "We have {:f} chickens"
print(txt.format(55))

We have 55.000000 chickens

In [88]:
txt = "We have {:.2f} chickens"
print(txt.format(55))

We have 55.00 chickens

In [ ]:
x = float('inf')

txt = "The price is {:F} dollars" # Uppercase fix point number format
print(txt.format(x))

The price is INF dollars

In [90]:
txt = "The price is {:f} dollars"
print(txt.format(x))

The price is inf dollars

In [ ]:
txt = "The octal version of {0} is {0:o}" # Octal format
print(txt.format(10))

The octal version of 10 is 12

In [ ]:
txt = "The octal version of {0} is {0:x}" # Hex format
print(txt.format(255))

The octal version of 255 is ff

In [94]:
txt = "The octal version of {0} is {0:X}" # Hex format
print(txt.format(255))

The octal version of 255 is FF

In [97]:
txt = "Sujata Scored {:%} marks in GATE"
print(txt.format(0.75)) # Convert a number to %

Sujata Scored 75.000000% marks in GATE