# String Methods in Python - Part 3

# join() - Method - takes all items in an iterable and joins them into one string.
- A string must be specified as the separator.

In [1]:
myTuple = ("John", "Peter", "Sujata")
x = "#".join(myTuple)
print(x)

John#Peter#Sujata

In [2]:
myDict = {"name": "John", "country": "Norway"}
mySeprator = "Test"

x  = mySeprator.join(myDict)
print(x)

nameTestcountry

In [ ]:
base_path = "C:\\Users"
sub_folder = "ASUS\\Desktop"
file_name = "\\python\\hello_world.py"

# Join paths using .join() string method
final_path = "\\".join(base_path,sub_folder,file_name)
print(final_path)

TypeError: str.join() takes exactly one argument (3 given)

# .join() method takes one argument - which should be an iterable
- iterable could be a Tuple, List or a Dictionary

In [31]:
base_path = "C:\\Users"
sub_folder = "ASUS\\Desktop"
file_name = "python\\hello_world.py"

list_strings = [base_path,sub_folder,file_name]
# Join paths using .join() string method
final_path = "\\".join(list_strings) # Takes only one positional argument
print(final_path)

C:\Users\ASUS\Desktop\python\hello_world.py

# Alternatives to join Paths

In [30]:
import os 

root_path = "\\Users\\ASUS\\Desktop" # Windows
project_path = "python"
file_name = "hello_world.py"  # python/hello_world.py - Linux

path = os.path.join(root_path,project_path,file_name) # You do not need to create an iterable (List or tuple)
print(path)

\Users\ASUS\Desktop\python\hello_world.py

In [ ]:
import pathlib
from pathlib import Path

root_path = Path("C://Users")
project_path = "Desktop//python"
file_name = "hello_world.py"

final_path = pathlib.PurePath(root_path,project_path,file_name) # Use pathlib.Purepath
print(final_path)

C:\Users\Desktop\python\hello_world.py

In [27]:
import pathlib

root_path = Path("C:/Users")
project_path = "Desktop/python"
file_name = "hello_world.py"
final_path = pathlib.Path.joinpath(root_path,project_path,file_name)

print(final_path)

C:\Users\Desktop\python\hello_world.py

# ljust() method will left align the string, using a specified character as the fill character.

In [ ]:
# ljust() method - Returns a 20 character long, left justified version of the word "banana"
txt = "banana" 
x = txt.ljust(100) # Left Justified.
print(x, "is my favourite fruit")

banana                                                                                               is my favourite fruit

In [39]:
txt = "banana" 
x = txt.ljust(100, "%") # Left Justified.
print(x, "is my favourite fruit")

banana%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% is my favourite fruit

In [42]:
txt = "SUJATA KUMARI"
txt.lower() # Converts a string into lowercase letters

'sujata kumari'

# lstrip() - removes any leading characters (space is the default leading character to remove)

In [43]:
txt = "     Sujata       "
txt.lstrip()

'Sujata       '

In [44]:
txt = "    Sujata    "
x = txt.lstrip()
print("of all names", x , "is my real name")

of all names Sujata     is my real name

In [45]:
txt = ",,,,,Sujata    "
x = txt.lstrip(",")
print("of all names", x , "is my real name")

of all names Sujata     is my real name

In [48]:
# maketrans()- method returns a mapping table that can be used with the translate() method to replace specified characters.
txt = "Hi Sujata!"
x = "Sujat"
y = "Kashi"
mytable = str.maketrans(x,y)
print(txt.translate(mytable))

Hi Kashih!

In [49]:
txt = "Hi Sujata, I am from Himachal Pradesh. I live in Bangalore for work!"
x = "abcdefgh"
y = "klmnopqr"
mytable = str.maketrans(x,y)
print(txt.translate(mytable))

Hi Sujktk, I km prom Himkmrkl Prknosr. I livo in Bknqkloro por work!

In [50]:
# replace()

txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [51]:
txt = "I like Sujata"
x = txt.replace("Sujata", "apples")
print(x)

I like apples

In [53]:
# rfind() - finds the last occurance of the specified value
txt = " Hello! welcome to my world"
x = txt.rfind("e", 5 , 10)
print(x)

9

In [56]:
txt = " Hello! welcome to my world"
x = txt.rfind("e")
print(x)

14

In [57]:
txt = " Hello! welcome to my world"
x = txt.rindex("e")
print(x)

14

In [58]:
txt = " Hello! welcome to my world"
x = txt.rindex("^")
print(x)

ValueError: substring not found

In [59]:
txt = " Hello! welcome to my world"
x = txt.rfind("^")
print(x)

-1

In [65]:
txt = "Suajta"
x = txt.rjust(20) # Righ align the string
print(x,"is my name")

              Suajta is my name

# rsplit() - splits a string into a list, starting from the right.

In [67]:
txt = "apple, banana , cherry"
x = txt.rsplit(",") # rsplit()- converts a string into list using a separator
print(x)

['apple', ' banana ', ' cherry']

In [69]:
txt = "apple, banana , cherry"
x = txt.rsplit(",", 1) # rsplit()- converts a string into list using a separator, maxsplit parameter
print(x)

['apple, banana ', ' cherry']

In [70]:
txt = "apple, banana , cherry"
x = txt.rsplit(",", 2) # rsplit()- converts a string into list using a separator, maxsplit parameter
print(x)

['apple', ' banana ', ' cherry']

In [71]:
txt = "apple, banana , cherry"
x = txt.rsplit(",", 3) # rsplit()- converts a string into list using a separator, maxsplit parameter
print(x)

['apple', ' banana ', ' cherry']

# split() - method splits a string into a list

In [72]:
txt = "My name is Sujata"
x = txt.split()
print(x)

['My', 'name', 'is', 'Sujata']

In [73]:
txt = "My name is Sujata, I am 25 years old, i live in Delhi, I am a good dancer."
x = txt.split(",")
print(x)

['My name is Sujata', ' I am 25 years old', ' i live in Delhi', ' I am a good dancer.']

In [74]:
txt = "My name is Sujata, I am 25 years old, i live in Delhi, I am a good dancer."
x = txt.split(",", 2 ) # paramters: separator, maxsplit
print(x)

['My name is Sujata', ' I am 25 years old', ' i live in Delhi, I am a good dancer.']

In [75]:
txt = "sujata kumari"
txt.upper()

'SUJATA KUMARI'

In [76]:
txt = " my name is sujata"
txt.title()

' My Name Is Sujata'

In [78]:
txt = "50"
x = txt.zfill(10) # zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.
print(x)

0000000050

In [80]:
txt = "Hello! My name is Sujata"
txt.startswith("Hello!") # Returns Trrue if the string starts with the specified value.

True

In [81]:
txt = "Hello! My name is Sujata"
txt.startswith("Sujata!") # Returns Trrue if the string starts with the specified value.

False

In [82]:
txt = "Hello! My name is Sujata"
txt.startswith("My", 7,20) # Returns Trrue if the string starts with the specified value.

True