# Strings in Python
- Strings in python are surrounded by either single quotation or double quotation marks.
- You can display a string literal with the print() function.

In [1]:
name = "Sujata Kumari"
name_2 = 'Sujata Kumari'
print(name)

Sujata Kumari

# Quotes inside quotes
- You can use quotes inside a string, as long as they don't match the quotes surrounding the string.

In [2]:
"This is a string. My name is 'Sujata Kumari'   !"

"This is a string. My name is 'Sujata Kumari'   !"

In [4]:
'This is another string, "Sujata Kumari"! It"s a book.'

'This is another string, "Sujata Kumari"! It"s a book.'

In [5]:
"It's a book!"

"It's a book!"

# Multi Line string

In [6]:
""" 
This is a line 1.
This is line 2.
This is line 3.

"""

' \nThis is a line 1.\nThis is line 2.\nThis is line 3.\n\n'

In [7]:
a = '''This is a book.
This is a chair.
'''
print(a)

This is a book.
This is a chair.

# Python Slicing Strings
- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, seperated by a colon, to return a part of the string.

In [8]:
name = "Sujata Kumari"
print(name)

Sujata Kumari

# Indexing in python are zero indexed.

In [10]:
# How to print "Kumari" ?
# Index - What is an index?
# Positive Indexing:
# S:0, u:1, j:2, a:3, t:4, a:5, Space:6, K:7, u:8, m:9, a:10, r:11,i :12
name[7:12+1]

'Kumari'

In [11]:
name[7:13]

'Kumari'

In [17]:
# Using Negative Index:
name[-6:]

'Kumari'

In [23]:
name[-6:15]

'Kumari'

In [18]:
name[:-1]

'Sujata Kumar'

In [19]:
name[-1:]

'i'

In [25]:
variable_1 = "Hello World"
variable_1[2:5] # 5 is not included

'llo'

# Slice from the start
- By leaving out the start index, the range will start at the first character:

In [26]:
variable_1[:6]

'Hello '

# Slice from the end

In [27]:
variable_1[2:]

'llo World'

In [28]:
name = "Sujata Kumari"
print(name[7:13])
print(name[7:])

Kumari
Kumari

# Negative Indexing
- Use negative indexes to start the slice from the end of the string

In [29]:
name[-6:-1]

'Kumar'

In [30]:
name[-6:]

'Kumari'

In [31]:
name[:-1]

'Sujata Kumar'

# Modify Strings
- Upper Case
- Lower Case
- Remove Whitespace
- Replace String
- Split String
- String Methods

# Python has a set of built-in methods that you can use on strings.

In [32]:
# SUJATA KUMARI- Upper case
# sujata kumari - lower case
name_lc = "sujata kumari"
name_lc.upper()

'SUJATA KUMARI'

In [33]:
name_uc = "SUJATA KUMARI"
name_uc.lower()

'sujata kumari'

# Remove Whitespace- strip()

In [36]:
# Remove Whitespace - Whitespace is the space before and after the actual text, and very often you want to remove this space.
string_1 = "      My name is  Sujata    Kumari  !    "
string_1.strip()

'My name is  Sujata    Kumari  !'

# Replace String- replace()

In [37]:
name = "Sujata Kumari"
# Task: Replace the alphabet S with T and K with L
name.replace("S","T")

'Tujata Kumari'

In [38]:
name.replace("S", "T", "K", "L")

TypeError: replace expected at most 3 arguments, got 4

In [39]:
name.replace("S", "T", "K")

TypeError: 'str' object cannot be interpreted as an integer

In [43]:
name = "Banana"
name.replace("A", "O", -1)

'Banana'

In [47]:
name.replace("a", "o",1)

'Bonana'

In [48]:
name.replace("a", "o", 2)

'Bonona'

In [49]:
name.replace("a", "o", 3)

'Bonono'

In [51]:
name.replace("a", "o", 10)

'Bonono'

# Split String - split()

In [54]:
a = "Hello, world!"
a.split(",")

['Hello', ' world!']

In [59]:
para_1 = "My name is Sujata. I have done MCA and BCA. I want to work as a Data Analyst.I am currently learning Python."
sentences = para_1.split(".")
for i in sentences:
    print(i)

My name is Sujata
 I have done MCA and BCA
 I want to work as a Data Analyst
I am currently learning Python

In [62]:
for index, sentence in enumerate(sentences):
    print(index, sentence)

0 My name is Sujata
1  I have done MCA and BCA
2  I want to work as a Data Analyst
3 I am currently learning Python
4

In [63]:
# Name, PersonID, Gender, Height, Weight, Address, Age, Area
# "Sujata", 10101, "Female", 160, 60, Shimla, 25, "Analytics"

In [65]:
para_1 = "My name is Sujata. I have done MCA and BCA. I want to work as a Data Analyst.\nI am currently learning Python."
sentences = para_1.split() # sep = None or blank , means \n, \r, \f and space  
sentences

['My',
 'name',
 'is',
 'Sujata.',
 'I',
 'have',
 'done',
 'MCA',
 'and',
 'BCA.',
 'I',
 'want',
 'to',
 'work',
 'as',
 'a',
 'Data',
 'Analyst.',
 'I',
 'am',
 'currently',
 'learning',
 'Python.']

In [69]:
para_1 = """My name is Sujata. 
I have done MCA and BCA. 
I want to work as a Data Analyst.
I am currently learning Python.
"""
#print(para_1)
para_1

'My name is Sujata. \nI have done MCA and BCA. \nI want to work as a Data Analyst.\nI am currently learning Python.\n'

In [70]:
print(para_1)
sentences = para_1.split()
sentences

My name is Sujata.
I have done MCA and BCA.
I want to work as a Data Analyst.
I am currently learning Python.

['My',
 'name',
 'is',
 'Sujata.',
 'I',
 'have',
 'done',
 'MCA',
 'and',
 'BCA.',
 'I',
 'want',
 'to',
 'work',
 'as',
 'a',
 'Data',
 'Analyst.',
 'I',
 'am',
 'currently',
 'learning',
 'Python.']

# String Concatenation

In [1]:
name = "Sujata Kumari"
age = "25"
intro ="My Name is "
filler = "My age is "

In [2]:
sujata_intro = intro + name
sujata_intro

'My Name is Sujata Kumari'

In [3]:
age_sentence = filler + age
age_sentence

'My age is 25'

In [6]:
a = "Sujata"
b = "Kumari"
# Sujata Kumari
c = a + " " + b # To add a space between two string use: " "

# Format Strings
- F string Method

# We cannot combine strings and number slike below:

In [17]:
age = 25
intro = "My age is:"
sentence = "My age is:" + age
sentence

TypeError: can only concatenate str (not "int") to str

 # F string : We can combine strings and numbers by using f-strings or format() method

In [ ]:
age = 25 # Integer
name = "Sujata Kumari" # STring

# F- string method
f"My name is {name}. My age is {age}."

'My name is Sujata Kumari. My age is 25.'

In [10]:
print(f"My name is {name}. My age is {age}.")

My name is Sujata Kumari. My age is 25.

# Placeholders and Modifiers
- A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [11]:
price = 150
f"What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: {price}"

'What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: 150'

In [12]:
original_price = 100
transportation_price = 20
printing_price = 30
price = original_price + transportation_price + printing_price
f"What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: {original_price + transportation_price + printing_price}"

'What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: 150'

In [14]:
def get_price(original_price, transporation_cost, printing_cost):
    price = original_price+transporation_cost+printing_cost
    return price

get_price(100,20,30)
get_price(original_price=100, transporation_cost=20, printing_cost=30)

150

In [15]:
f"What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: {get_price(100,20,30)}"

'What is the price of Atomic habits book? Answer: The price of Atomic Habits book is INR: 150'

In [18]:
# A placeholder can include a modifier to format the value.
# A modifier is included by adding : colon followed by a legal fomatting type, like .2f which means fixed point numbers with 2 decimals

# Precision 
# pi = 22/7 = 3.14
print(f"The value of pi is : {22/7}")

The value of pi is : 3.142857142857143

In [20]:
pi = 22/7
f"The value of pi is {pi:.6f}"

'The value of pi is 3.142857'

In [21]:
f"{100 * 200}"

'20000'

# Escape Character

In [22]:
txt = "We are so called "Indians" from the north India" # Illegal Python string
# Used double quotes inside the string
txt = "We are so called 'Indians' from the north India"

SyntaxError: invalid syntax (3186076170.py, line 1)

In [26]:
txt = "We are so called \"Indians\" from the north "
print(txt)

We are so called "Indians" from the north

In [ ]:
txt = "We are so called \\Indians (backslash). "
print(txt) # \ - Escape character , \- Backslash

We are so called \Indians (backslash).

In [ ]:
txt = "We are so called Indians. \n We are from the north  India"
print(txt) # New line

We are so called Indians.
 We are from the north  India

In [29]:
txt = "We are so called Indians. \r We are from the north  India"
print(txt) # carriage Return

 We are from the north  India

In [32]:
txt = "Hello\rWorld!\rMy name is Sujata."
print(txt)

My name is Sujata.

In [ ]:
# Tab = 4 spaces
text = "My name is \tSujata Kumari"
print(text)

My name is 	Sujata Kumari

In [ ]:
txt = "Hello\bWorld" # Backspace - 1 deletion of previous written character ( Hello\b) Hell
print(txt)

HellWorld

In [39]:
txt = "Hello \f World"
print(txt) # Form Feed

Hello  World

In [40]:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [44]:
txt= "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [46]:
txt = "\x48"
print(txt)

H